doctype html
html.no-js
  head
    // Basic page needs ==================================================
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='shortcut icon', href='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/favicon.png?18283455539215377984', type='image/png')
    // Title and description ==================================================
    title
      | Juguetinio
    meta(name='description', content='La tienda de juguetes que piensa en los tuyos')
    // Product meta ==================================================
    meta(property='og:type', content='website')
    meta(property='og:title', content='Play - Juguetinio')
    meta(property='og:image', content='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/logo.png?18283455539215377984')
    meta(property='og:image:secure_url', content='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/logo.png?18283455539215377984')
    meta(property='og:description', content='La tienda de juguetes que piensa en los tuyos')
    meta(property='og:url', content='https://poptheme-toy.myshopify.com/')
    meta(property='og:site_name', content='Juguetinio')
    meta(name='twitter:site', content='@')
    // Helpers ==================================================
    link(rel='canonical', href='https://poptheme-toy.myshopify.com/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Ajaxify Cart Plugin ==================================================
    link(href='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/ajaxify.scss.css?18283455539215377984', rel='stylesheet', type='text/css', media='all')
    // CSS ==================================================
    link(href='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/timber.scss.css?18283455539215377984', rel='stylesheet', type='text/css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css', media='all')
    link(href='https://fonts.googleapis.com/css?family=Nunito:700', rel='stylesheet', type='text/css', media='all')
    // Header hook for plugins ==================================================
    script.
      //<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "poptheme-toy.myshopify.com";
      Shopify.theme = {"name":"pop","id":8650952,"theme_store_id":null,"role":"main"};
      //]]>
    script.
      //<![CDATA[
      (function() {
      function asyncLoad() {
      var urls = ["\\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=poptheme-toy.myshopify.com"];
      for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
      }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
      })();
      //]]>
    script#__st.
      //<![CDATA[
      var __st={"a":6962527,"offset":-14400,"reqid":"4ab28ab1-86c2-43c9-acb8-151988dbe56a","pageurl":"poptheme-toy.myshopify.com\\/","u":"c4492e04e712","p":"home"};
      //]]>
    script.
      //<![CDATA[
      (function() {
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
      s.src = 'https://cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();
      //]]>
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42189134-16', 'auto', {'allowLinker': true});ga('send', 'pageview');
      (function(){
      ga('require', 'linker');
      function addListener(element, type, callback) {
      if (element.addEventListener) {
      element.addEventListener(type, callback);
      }
      else if (element.attachEvent) {
      element.attachEvent('on' + type, callback);
      }
      }
      function decorate(event) {
      event = event || window.event;
      var target = event.target || event.srcElement;
      if (target && (target.action || target.href)) {
      ga(function (tracker) {
      var linkerParam = tracker.get('linkerParam');
      document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
      });
      }
      }
      addListener(window, 'load', function(){
      for (var i=0; i<document.forms.length; i++) {
      if(document.forms[i].action && document.forms[i].action.indexOf('/cart') >= 0) {
      addListener(document.forms[i], 'submit', decorate);
      }
      }
      for (var i=0; i<document.links.length; i++) {
      if(document.links[i].href && document.links[i].href.indexOf('/checkout') >= 0) {
      addListener(document.links[i], 'click', decorate);
      }
      }
      })
      }());
    script(type='text/javascript', src='https://cdn.shopify.com/s/global/ga_urchin_forms.js?b4ad9fc928de3f97db3e8aa968fc0b093a76f652')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js', type='text/javascript')
    script(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/modernizr.min.js?18283455539215377984', type='text/javascript')
  body#play-pop-theme-by-shopify.template-index
    .nav-mobile
      nav.nav-bar(role='navigation')
        .wrapper
          ul#accessibleNav.site-nav
            li.site-nav--active
              a.site-nav__link.site-nav__linknodrop(href='/') Home
            li
              a.site-nav__link.site-nav__linknodrop(href='/collections/frontpage') Nuevo
            li
              a.site-nav__link.site-nav__linknodrop(href='/collections/farm-animals') Animales de Granja
            li
              a.site-nav__link.site-nav__linknodrop(href='/collections/teddy-bears') Ositos de peluche
            li
              a.site-nav__link.site-nav__linknodrop(href='/blogs/news') Blog
            hr.hr--small.medium-down--hide
            li
              a.site-nav__link.site-nav__linknodrop(href='/pages/about-us') Envio gratuito en todos nuestros pedidos
    .page-wrapper
      header.site-header(role='banner')
        .nav-bar.grid--full.large--hide
          .grid-item.one-quarter
            button#navToggle.text-link.nav-toggle(type='button')
              .table-contain
                .table-contain__inner
                  span.icon-fallback-text
                    span.icon.icon-list(aria-hidden='true')
                    span.fallback-text Menu
          .grid-item.two-quarters
            .table-contain
              .table-contain__inner
                h1.header-logo(itemscope='', itemtype='http://schema.org/Organization')
                  a(href='/', itemprop='url')
                    img(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/logo.png?18283455539215377984', alt='Juguetinio', itemprop='logo')
          .grid-item.one-quarter.text-right
            a.cart-toggle(href='/cart')
              .table-contain
                .table-contain__inner
                  span.icon-fallback-text
                    span.icon.icon-cart(aria-hidden='true')
                    span.fallback-text Carrito
        .wrapper
          .grid--full
            .grid-item.medium-down--hide
              h1.header-logo(itemscope='', itemtype='http://schema.org/Organization')
                a(href='/', itemprop='url')
                  img(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/logo.png?18283455539215377984', alt='Juguetinio', itemprop='logo')
          .medium-down--hide
            ul.site-nav
              li
                a.cart-toggle.site-nav__link(href='/cart')
                  span.icon.icon-cart(aria-hidden='true')
                  |                 Carrito
                  span#cartCount.hidden-count (0)
            hr.hr--small
          nav.nav-bar.medium-down--hide(role='navigation')
            ul#accessibleNav.site-nav
              li.site-nav--active
                a.site-nav__link.site-nav__linknodrop(href='/') Home
              li
                a.site-nav__link.site-nav__linknodrop(href='/collections/frontpage') Nuevo
              li
                a.site-nav__link.site-nav__linknodrop(href='/collections/farm-animals') Animales de granja
              li
                a.site-nav__link.site-nav__linknodrop(href='/collections/teddy-bears') Ositos de peluche
              li
                a.site-nav__link.site-nav__linknodrop(href='/blogs/news') Blog
              hr.hr--small.medium-down--hide
              li
                a.site-nav__link.site-nav__linknodrop(href='/pages/about-us') Envio gratuito en todos nuestros pedidos
      main.main-content(role='main')
        .wrapper
          .flexslider(data-auto='true', data-rate='5000')
            ul.slides
              li
                a.slide-link(href='')
                  img(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/slide_1.jpg?18283455539215377984', alt='slide_1_alt.jpg')
          script(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/jquery.flexslider.js?18283455539215377984', type='text/javascript')
          hr.hr--clear
          .section-header.text-center
            h2.section-header--title Productos destacados
          .grid-uniform.product-grid
            .grid-item.medium--one-third.large--one-third.sold-out
              .product-wrapper
                a.product(href='/products/air-pupy-big-foot-bear-bibble')
                  img.product__img(src='https://cdn.shopify.com/s/files/1/0696/2527/products/image_038d5e2e-a70c-4e81-baa0-cb01f6f8c718_large.jpeg?v=1419006923', alt='Osito Big Foot')
                  .product__cover
                  .product__details.text-center
                    .table-contain
                      .table-contain__inner
                        p.h4.product__title Osito Big Foot
                        p.product__price 19.95 Euros
                  .sold-out-tag.text-center
                    span.tag Vendido
            // snippets/product-grid-item.liquid
            .grid-item.medium--one-third.large--one-third
              .product-wrapper
                a.product(href='detail')
                  img.product__img(src='https://cdn.shopify.com/s/files/1/0696/2527/products/image_bb10e5be-00f9-4d31-8d0e-b0264cebb6c7_large.jpeg?v=1419006896', alt='Elefante Jackie')
                  .product__cover
                  .product__details.text-center
                    .table-contain
                      .table-contain__inner
                        p.h4.product__title Elefante Jackie
                        p.product__price
                          | 11.95 Euros
            // snippets/product-grid-item.liquid
            .grid-item.medium--one-third.large--one-third.sold-out.last
              .product-wrapper
                a.product(href='/products/hickory-shack-cornflakes-giraffe')
                  img.product__img(src='https://cdn.shopify.com/s/files/1/0696/2527/products/image_1aed53a3-2162-4d01-a276-0330c306b50b_large.jpeg?v=1419006901', alt='Jirafa Cornflakes')
                  .product__cover
                  .product__details.text-center
                    .table-contain
                      .table-contain__inner
                        p.h4.product__title Jirafa Cornflakes
                        p.product__price
                          | 15.95 Euros
                  .sold-out-tag.text-center
                    span.tag Vendido
            // snippets/product-grid-item.liquid
            .grid-item.medium--one-third.large--one-third
              .product-wrapper
                a.product(href='/products/hickory-shack-milkshake-cow')
                  img.product__img(src='https://cdn.shopify.com/s/files/1/0696/2527/products/image_b02abc2a-f82c-46d0-97e2-d7a3e0d9512b_large.jpeg?v=1419006894', alt='Vaca Milkshake')
                  .product__cover
                  .product__details.text-center
                    .table-contain
                      .table-contain__inner
                        p.h4.product__title Vaca Milkshake
                        p.product__price
                          | 11.95 Euros
            // snippets/product-grid-item.liquid
            .grid-item.medium--one-third.large--one-third
              .product-wrapper
                a.product(href='/products/hickory-shack-minky-meercat')
                  img.product__img(src='https://cdn.shopify.com/s/files/1/0696/2527/products/image_25a08ca7-8622-4650-9d03-d023bb6d5d45_large.jpeg?v=1419006892', alt='Minky Meercat')
                  .product__cover
                  .product__details.text-center
                    .table-contain
                      .table-contain__inner
                        p.h4.product__title Minky Meercat
                        p.product__price
                          | 11.95 Euros
            // snippets/product-grid-item.liquid
            .grid-item.medium--one-third.large--one-third.last
              .product-wrapper
                a.product(href='/products/big-foot-bear-issy')
                  img.product__img(src='https://cdn.shopify.com/s/files/1/0696/2527/products/image_fcb18984-e5c1-4935-909c-4d35878dc2df_large.jpeg?v=1419006922', alt='Osito Issy')
                  .product__cover
                  .product__details.text-center
                    .table-contain
                      .table-contain__inner
                        p.h4.product__title Osito Issy
                        p.product__price
                          | 14.95 Euros
          hr.hr--clear
          h2.h1.text-center Envio gratuito en todos nuestros pedidos
          hr.hr--small
          .rte.text-center
            meta(charset='utf-8')
            p
              span
                | Los osos de peluche son el juguete blando favorito para los nuevos fabricantes de juguetes, con muchos y diferentes modelos en el mercado. Muchos de los peluches son hechos en casa como regalos, mientras que nuestros ositos de peluche son autenticas obras de arte dedicadas a los nenes de la casa.
        footer.site-footer.small--text-center.medium--text-center(role='contentinfo')
          .wrapper
            hr.hr--clear.large--hide
            .grid
              .grid-item.large--two-thirds
                .rte
                  meta(charset='utf-8')
                  h5 Sobre nosotros
                  p Fabricantes de peluches desde 1956
                  h6 Donde estamos
                  p 123 Blueberry Avenue, Blueberry ON., M6K 1Y3
              .grid-item.large--one-third
                hr.hr--clear.large--hide
                h5 Contacta con nostros
                .grid
                  .grid-item.medium--two-thirds.push--medium--one-sixth
                    label.form-label--hidden
                      span.visuallyhidden Introduce tu email
                    form#mc-embedded-subscribe-form.input-group(action='#', method='post', name='mc-embedded-subscribe-form', target='_blank')
                      input#mail.input-group-field(type='email', value='', placeholder='your-email@example.com', name='EMAIL', aria-label='your-email@example.com', autocorrect='off', autocapitalize='off')
                      span.input-group-btn
                        button#subscribe.btn.icon-fallback-text(type='submit', name='subscribe')
                          span.icon.icon-arrow-right(aria-hidden='true')
                          span.fallback-text Subscribete!
                ul.inline-list.social-icons
                  li
                    a.icon-fallback-text(href='https://twitter.com/shopify', title='Pop Theme by Shopify on Twitter')
                      span.icon.icon-twitter(aria-hidden='true')
                      span.fallback-text Twitter
                  li
                    a.icon-fallback-text(href='https://www.facebook.com/shopify', title='Pop Theme by Shopify on Facebook')
                      span.icon.icon-facebook(aria-hidden='true')
                      span.fallback-text Facebook
            hr.hr--clear
            .text-center
              ul.inline-list.payment-icons.text-center
                li
                  span.icon-fallback-text
                    span.icon.icon-american_express(aria-hidden='true')
                    span.fallback-text american express
                li
                  span.icon-fallback-text
                    span.icon.icon-master(aria-hidden='true')
                    span.fallback-text master
                li
                  span.icon-fallback-text
                    span.icon.icon-visa(aria-hidden='true')
                    span.fallback-text visa
      script(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/shop.js?18283455539215377984', type='text/javascript')
      script(src='https://cdn.shopify.com/s/files/1/0696/2527/t/2/assets/handlebars.min.js?18283455539215377984', type='text/javascript')
      